body{
  border: 10px double #000000;
  padding: 45px;
  margin: 50px;
  background-color:#706358;
  text-align: center;
}
hr{
  height: 1.5px;
  background-color: black;
  border: none;
}

h1 {
  font-family: 'IM Fell English SC', serif;
  font-size: 60px;
  color: #e6be7d;
  animation: glowTitle 8s infinite;
}
@keyframes glowTitle {
  0% {text-shadow:
    1px 1px 8px #9d6a1d,
    1px 1px 25px #9d6a1d;}
  50% {text-shadow:
    1px 1px 15px #9d6a1d,
    1px 1px 50px #9d6a1d;}
  100% {text-shadow:
    1px 1px 8px #9d6a1d,
    1px 1px 25px #9d6a1d;}
}  
.maze {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%
}
  
.up{
  border:none;
  background: url("https://kblee9.github.io/EscapeRoomDesign/Images/up-arrow.png") no-repeat;
  background-size: 100px;
}
.left{
 border:none;
  background: url("https://kblee9.github.io/EscapeRoomDesign/Images/left-arrow.png") no-repeat;
  background-size: 100px;
}
.down{
  border:none;
  background: url("https://kblee9.github.io/EscapeRoomDesign/Images/down-arrow.png") no-repeat;
  background-size: 100px;
}
.right{
  border:none;
  background: url("https://kblee9.github.io/EscapeRoomDesign/Images/right-arrow.png") no-repeat;
  background-size: 100px;
}